body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Trirong", serif;
  background-color: rgb(241, 243, 246);
}
.calculator {
  background-color: rgb(241, 243, 246);
  border: 0.5px solid rgb(235, 227, 227);
  border-radius: 20px;
  box-shadow: 5px 5px 20px grey;
  padding: 10px;
  position: relative;
  display: grid;
  width: fit-content;
  height: fit-content;
  place-self: center;
  box-shadow: -50px -20px 50px white, 50px 20px 50px rgb(220, 220, 220),
    50px 20px 50px rgb(220, 225, 240), -50px 20px 50px white;
}
.calculator .display {
  grid-column: span 4;
  height: 100px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: end;
  padding: 15px;
  margin-top: 20px;
  color: blue;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Trirong", sans-serif;
  background-color: rgb(243, 246, 248);
  box-shadow: inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white,
    inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white;
}
.calculator span {
  display: grid;
  cursor: pointer;
  place-items: center;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: aqua;
  font-weight: bolder;
  border-radius: 10px;
  background-color: rgb(241, 243, 246);
  box-shadow: -3px -3px 5px white, 3px 3px 5px rgb(220, 220, 220),
    3px 3px 5px rgb(220, 220, 220), -3px -3px 5px white;
}
.calculator span.clear {
  grid-column: span 2;
  width: auto;
  background-color: rgb(245, 224, 184);
}
.calculator span.equal {
  grid-row: span 2;
  height: auto;
  background-color: rgb(207, 217, 250);
}
.calculator span.minus,
.calculator span.plus,
.calculator span.multiply,
.calculator span.divide {
  font-size: x-large;
  background-color: rgb(231, 236, 253);
}
.calculator span:active {
  box-shadow: inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white,
    inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white;
}
.calculator span.clear:active {
  box-shadow: inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white,
    inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px rgb(254, 196, 89);
}
.calculator span.equal:active {
  box-shadow: inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px white,
    inset 5px 5px 5px rgb(220, 225, 240), inset -5px -5px 5px rgb(166, 187, 255);
}
.calculator span.minus:active,
.calculator span.plus:active,
.calculator span.multiply:active,
.calculator span.divide:active {
  background-color: rgb(231, 236, 253);
}
.calculator span:active {
  color: orangered;
}
